.dart_tool/
.packages
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
build/
ios/Flutter/.last_build_id
ios/Pods/
macos/Pods/
android/.gradle/
android/.gradle_home/
android/wrapper/
third_party/image_picker_android/example/
third_party/image_picker_android/pigeons/
third_party/image_picker_android/test/
third_party/image_picker_android/pubspec.lock
*.iml
*.apk
!Kahawa_Mkononi.apk
.idea/
.vscode/
