NODE_ENV=development
PORT=4000

DATABASE_URL=postgresql://kahawa:kahawa_password@localhost:5432/kahawa_mkononi?schema=public

JWT_ACCESS_SECRET=CHANGE_ME_ACCESS_SECRET
JWT_REFRESH_SECRET=CHANGE_ME_REFRESH_SECRET
JWT_ACCESS_TTL=15m
JWT_REFRESH_TTL=30d

CORS_ORIGINS=http://localhost:4200
